<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {%- assign redirect_target = nil -%}
  {%- if page.redirect -%}
    {%- if page.redirect == true -%}
      {%- assign redirect_target = site.baseurl | prepend: site.url | append: '/' -%}
    {%- elsif page.redirect contains '://' -%}
      {%- assign redirect_target = page.redirect -%}
    {%- else -%}
      {%- assign redirect_target = page.redirect | absolute_url -%}
    {%- endif -%}
  {%- endif -%}

  <!-- Head -->
  <head>
  {%- if redirect_target -%}
    <meta http-equiv="refresh" content="0; url={{ redirect_target }}" />
    <script>
      window.location.replace({{ redirect_target | jsonify }});
    </script>
  {%- endif -%}
  {% include head.html redirect_target=redirect_target %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
  </body>
</html>
